@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*
 * Sets everyting to use `border-box` for calculating sizing.
 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow: auto;
}

html {
    background-color: #f0f0f0;
}

body {
    color: #202020;
    font-family: Outfit, sans-serif;
    max-width: 800px;
    margin: 2em auto;
}

h1 {
    font-weight: 100;
}

header h1 {
    font-size: 1.25em;
    font-weight: 500;
    margin: 1em 1em 5em;
    padding: 0.25em;
    background: #222;
    color: white;
    width: fit-content;
}

header {
    background-image: url('images/peeling-paint.jpg');
    background-position: 50% 50%;
    padding-bottom: 1px;
    background-size: cover;
}

a:link {color: #8833cc;}
a:visited {color: #aa55ee;}
a:hover,
a:focus {color: #7722bb;}
a:active {color: #8833cc;}

nav {
    padding: 1em;
    margin: 0;
    background: #f0f0f0;
}

nav a {
    text-decoration:none;
}

main h1,
main h2,
main p {
    margin: 1rem 0;
}